.box {
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: block;
    transition: all 150ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: relative;
}

.time-transition {
    transition: all 50ms ease-in;
}

.green {
    background: #33ffdd;
}

.grow{
    margin: 0;
    width: 60px;
    height: 60px;
    transition: all 120ms cubic-bezier(.62,0,.39,1);
}

.wub-wub{
  animation: scale-frames ease-in-out 100ms;
  animation-iteration-count: infinite;
  animation-delay: 120ms;
  transform-origin: 50% 50%;
}

.vibrate{
  animation: scale-frames ease-in-out 75ms;
  animation-iteration-count: infinite;
  animation-delay: 120ms;
  transform-origin: 50% 50%;
}

.crash{
  animation: scale-frames ease-in-out 50ms;
  animation-iteration-count: infinite;
  animation-delay: 120ms;
  transform-origin: 50% 50%;
}

@keyframes scale-frames{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.15) scaleY(1.15) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@import 'layout';
@import 'demos/death-metal';
@import 'demos/house-music';