#death-metal {
    max-height: 100vh;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;

    .animate-color{ 
        path, rect, text {
            transition: all 400ms ease-in-out;
            transition-delay: 250ms;
        }
    }

    .animate-scale {
        transition: all 120ms cubic-bezier(.62,0,.39,1);
        transition-delay: 250ms;
        transform-origin: 410px 700px;
    }

    .animate-blood {
        transition: all 120ms cubic-bezier(.62,0,.39,1);
        transition-delay: 250ms;
    }

    .blood-right {
        transform-origin: 520px 490px;
        // transform: scaleX(0) scaleY(0) translateY(0) rotate(-15deg);
    }

    .blood-left {
        transform-origin: 340px 510px;
        // transform: scaleX(0) scaleY(0) translateY(0) rotate(15deg);
    }

    .red {
        path, rect, text {
            fill: #D51F26;
        }
    }

    .blood-red {
        path, rect, text {
            fill: #931B1E;
        }
    }

    .red, .blood-red {
        path, rect, text {
            transition-delay: 0ms;
        }
    }

    .scale {
        transform: scaleX(1.15) scaleY(1.15);
        transition-delay: 0ms;
    }

    .blood-scale{
        transform: scaleX(1.15) scaleY(1.15);
        transition-delay: 0ms;
        transition: all 200ms cubic-bezier(.62,0,.39,1);
    }

    .transform {
        transform: scaleX(1.05) scaleY(1.05) translateY(150px) rotate(0);
        transition-delay: 0ms;
    }
}