<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">Quick Start</a></li>
        <li role="presentation"><a href="#">Demos</a></li>
        <li role="presentation"><a href="#">Docs</a></li>
      </ul>
    </nav>
    <h2>Ember Web Audio Helpers</h2>
  </div>

  {{outlet}}

  <footer class="footer">
    <p>a <a href="http://nathanbatson.com/" target="_blank">Nathan Batson</a> thing</p>
  </footer>
</div>